.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  /* Dark background */
    color: #857878; 
    padding: 10px 20px;
    font-size: 14px;
  }
  
  .footer-left {
    text-align: left;
  }
  
  .footer-right {
    display: flex;
    gap: 15px;
  }
  
  .footer-link {
    color: #857878;
    text-decoration: none;
  }
  
  .footer-link:hover {
    text-decoration: underline;
  }
  